body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ddd9e2, #5e5673);

}

/* navbar */
.navbar {
    width: 100%;
    display: flex;
    padding-top:20px;
    justify-content: center;   
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
    background: linear-gradient(to right, #ddd9e2, #5e5673);
    overflow-x: hidden;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #2a2438;
    padding-right:20%;
    padding-left:12%;
    text-shadow: 0 0 6px rgba(174, 140, 230, 0.6);
}
.nav-links a.active {
    color:white;
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #2a2438;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;        
}
@media (max-width: 900px) {
    .navbar {
        padding: 10px 20px;
    }
    .nav-links {
        gap: 15px;
        font-size: 14px;
    }
}

.nav-links a {
text-decoration: none;
color: #2a2438;
font-weight: 500;
transition: 0.3s;
}

.nav-links a:hover {
color: #7555c6;
}
.contact-btn {
    background: #2a2438;
    padding: 8px 18px;
    border-radius: 8px;
    color: white !important;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #6d3fc8;
}

/* main section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 50px;
    padding: 80px 10%;
}
.left{
    padding-right:10%
}
#profile {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    border:5px solid #2a2438; 
    object-fit: cover;
    background-color: white;
}

/* text */
.right h3 {
    font-weight: 600;
    font-size: 20px;
    color:black;
}
.right h3 span {
    color: #2a2438;
}

.right h1 {
    font-size: 42px;
    margin: 8px 0 15px;
}

.right h1 span {
    color: #2a2438;
}

.right p {
    max-width: 500px;
    line-height: 1.6;
    margin-bottom: 20px;
    color:black;
}
.glow {
    text-shadow: 0 0 6px rgba(138, 90, 213, 0.6);
}


/* social icon */
.social img {
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
}

/* about css */
.aboutme{
    text-align:center;
    color:black;
    padding-top:50px;
}

#aboutcenter{
    text-align:center;
    color: #2a2438;
    font-size: 42px;
    margin: 8px 0 15px;
    text-shadow: 0 0 6px rgba(138, 90, 213, 0.6);
}


.aboutpara{
    padding-top:2%;
    padding-left:15%;
    padding-right:15%;
    font-size: 20px;
    line-height: 2.0;
    text-align: center;
    margin-bottom: 20px;
}

/* skills-css */

.skills-section {
    text-align: center;
    padding: 60px 10%;
}

#skill-center{
    text-align:center;
    color: #2a2438;
    font-size: 42px;
    margin: 8px 0 15px;
    text-shadow: 0 0 6px rgba(138, 90, 213, 0.6);
}

.skills-grid {
    padding-top:2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.skill-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 18px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}
.skill-box h3 {
    margin-bottom: 8px;
}

/* projects-css */
.project-section {
    padding: 60px 10%;
}

#project-center{
    text-align:center;
    color: #2a2438;
    font-size: 42px;
    margin: 8px 0 15px;
    text-shadow: 0 0 6px rgba(138, 90, 213, 0.6);
}

.project-grid {
    padding-top:2%;
    display: grid;
    gap: 20px;
    margin-top: 30px;
}

.project-body {
    background: rgba(255, 255, 255, 0.2);
    padding: 18px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-body:hover {
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

/* certificate-css */
.certificate-section {
    text-align: center;
    padding: 60px 10%;
}

#certificate-center{
    text-align:center;
    color: #2a2438;
    font-size: 42px;
    margin: 8px 0 15px;
    text-shadow: 0 0 6px rgba(138, 90, 213, 0.6);
}

.certificate-grid {
    padding-top:2%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.certificate-box{
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.certificate-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.certificate-box h3 {
    margin-bottom: 8px;
}

/* contact css */

.contact-box {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    padding-top:20px;
    padding-bottom:50px;
    margin-top:60px;
    margin-left:30%;
    margin-right:30%;
}

#contact-center{
    text-align:center;
    color: #2a2438;
    font-size: 42px;
}

.contact-box a{
    text-decoration:none;
    color:black;
}

/* MOBILE */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    #profile {
        width: 220px;
        height: 220px;
    }

    .right h1 {
        font-size: 32px;
    }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}